{% extends 'base.html' %}
{% block pageHead %}
<link href="css/sweetalert.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="css/seaticon/iconfont.css">

<style type="text/css" rel="stylesheet">
    .stubox {
        padding: 20px;
        margin-bottom: 30px;
        /*height: 150px;*/
        text-align: center;
        background: #ccc;
    }

    .icon-zuowei {
        font-size: 24px;
        margin: 8px;
        cursor: pointer;
    }

    td, th {
        text-align: center;
    }

    .modal-lg {
        margin: 40px auto;
    }

    table {
        margin: 0 auto;
    }

    /*正常*/
    .seat_nor {
        color: #449d44;
    }

    /*空位*/
    .seat_ept {
        color: #cedadc;
    }

    /*坏坐*/
    .seat_brk {
        color: #c9302c;
    }

</style>
{% endblock %}
{% block pageTitle %}演出厅列表{% endblock %}
{% block pageNav %}
<li>
    <i class="fa fa-dashboard"></i> <a href="index.html">Dashboard</a>
</li>
<li class="active">
    <i class="fa fa-file"></i> 演出厅列表
</li>
{% endblock %}
{% block pageContent %}
<div class="row">
    <div class="col-lg-12">
        <button type="button" id="addbtn" class="btn btn-success">添加</button>
    </div>
</div>
<div class="row">
    <input id="pageurl" type="hidden" value="studio?&method=hxr&format=html">
    <!--记录当前页面URL-->
    <div class="col-lg-12" id="mainContent">
        {% include 'studio_table.html' %}
    </div>
</div>
<!-- /.row -->
{% endblock %}

{% block pageEnd %}
<!--添加 模态框-->
{% include 'studio_modal.html' %}
<!--座位管理 模态框-->
<div class="modal" id="seat_modal">
    <div class="modal-lg">
        <div id="seat_modal_content" class="modal-content" data-type="edit">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <h4 class="modal-title">Title</h4>
            </div>
            <div class="modal-body clearfix">
                <div class="col-md-8" id="seat_con">
                    <!--动态加载座位-->
                </div>
                <div class="col-md-4">
                    <p>说明：</p>

                    <p><span class="iconfont icon-zuowei seat_nor"></span>: 好座</p>
                    <p><span class="iconfont icon-zuowei seat_brk"></span>: 坏座</p>
                    <p><span class="iconfont icon-zuowei seat_ept"></span>: 空位</p>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="seatSave">保存</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!--sweet alert-->
<script src="js/sweetalert.min.js"></script>
<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

//        var page_data = {  curpage:{{ page.getCurPage() }}     };
        (function ($) {
            $.getUrlParam = function (name) {
                var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
                var r = window.location.search.substr(1).match(reg);
                if (r != null) return unescape(r[2]);
                return null;
            }
        })(jQuery);

        //修改
        $("#mainContent").on("click", ".editbtn", function () {
            var eStuId = $(event.target).data("itemid");
            if (event.target.nodeName == "I") {
                eStuId = $(event.target).parent().data("itemid");
            }
            $.ajax({
                type: 'GET',
                url: "studio/get?studio_id=" + eStuId,
                dataType: "json",
                success: function (data) {
                    console.log(data);
                    if (data.code == 0) {
                        $('#name').val(data.data.name);
                        $('#row').val(data.data.rowCount);
                        $('#col').val(data.data.colCount);
                        $('#studio_inc').val(data.data.introduction);
                        $('#studio_id').val(data.data.id);
                    }
                    console.log(data.code + "   " + data.data.name);
                },
                error: function (xhr) {
                    swal("获取数据失败!", "warning");
                }
            });
            $('#modal_content').data({type: "edit"});
            $('#mymodal').modal({backdrop: 'static', keyboard: false});
        });
        //删除
        $("#mainContent").on("click", ".delbtn", function () {
            //console.log(event.target.nodeName);
            var delStuId = $(event.target).data("itemid");
            if (event.target.nodeName == "I") {
                delStuId = $(event.target).parent().data("itemid");
            }

            var parentTR = $(event.target).parents('tr');
            swal({
                        title: "确认删除?",
                        text: "删除演出厅" + delStuId,
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#DD6B55",
                        confirmButtonText: "确认",
                        cancelButtonText: "取消",
                        closeOnConfirm: false,
                        closeOnCancel: true,
                        showLoaderOnConfirm: true
                    },
                    function (isConfirm) {
                        if (isConfirm) {
                            $.ajax({
                                type: 'POST',
                                url: "studio/delete?studio_id=" + delStuId,
                                dataType: "json",
                                success: function (data) {
                                    console.log(data);
                                    if (data.code == 0) {
                                        //parentTR.remove(); //移除已删除的行
                                        swal("删除成功!", "success");
                                        updatePage();
                                    } else {
                                        swal("删除失败!", data.msg + "\n" + data.data, "warning");
                                    }

                                },
                                error: function (xhr) {
                                    swal("删除失败!", "warning");
                                }
                            });
                        }
                    });
        });
        //翻页
        $("#mainContent").on("click", ".pagination a", function (event) {
            var tpage = $(event.target).data("page");
            if (event.target.nodeName == "SPAN") {
                tpage = $(event.target).parent().data("page");
            }
            var npurl = "studio?&method=hxr&format=html",
                    pn;
            if ((pn = $.getUrlParam("pn")))
                npurl += "&pn=" + pn;
            npurl += "&p=" + tpage;
            $('#pageurl').val(npurl); //
            $.ajax({
                type: 'GET',
                url: npurl,
                success: function (data) {
                    $("#mainContent").html(data);
                }
            });

            return false;//阻止链接跳转
        });
        //提交数据
        $('#studioSave').click(function (e) {
            if ($('#modal_content').data('type') == "edit") {
                $.ajax({
                    type: 'POST',
                    url: "studio/update",
                    data: $.param($('#studioForm').serializeArray()),
                    //$.param($('#studioFrom').serializeArray());
                    dataType: "json",
                    success: function (data) {
                        console.log(data);
                        if (data.code == 0) {
                            $('#mymodal').modal('hide');
                            swal("修改成功!", "success");
                            updatePage();
                        } else {
                            swal("修改失败!", data.msg + "\n" + data.data, "warning");
                        }
                    },
                    error: function (xhr) {
                        swal("修改失败!", "warning");
                    }
                });

            } else if ($('#modal_content').data('type') == "add") {
                $.ajax({
                    type: 'POST',
                    url: "studio/add",
                    data: $.param($('#studioForm').serializeArray()),
                    dataType: "json",
                    success: function (data) {
                        console.log(data);
                        if (data.code == 0) {
                            $('#mymodal').modal('hide');

                            swal("添加成功!", "success");
                            //当最后一页是满页，需要多跳一页
                            if (pager.total > 0 && (pager.total % pager.pageSize) == 0) pager.totalPage++;
                            updatePage(pager.totalPage); //跳到最后一页
                        } else {
                            swal("添加失败!", data.msg + "\n" + data.data, "warning");
                        }

                    },
                    error: function (xhr) {
                        swal("添加失败!", "warning");
                    }
                });
            }

        });
        //更新页面，参数 页码， 默认当前页
        function updatePage() {
            var npurl = "studio?&method=hxr&format=html", p = pager.curPage, pn;
            if (!isNaN(arguments[0])) {//如果有参数且第一参数为数字，页码就为该数字
                p = arguments[0];
            }
            if ((pn = $.getUrlParam("pn"))) {
                npurl += "&pn=" + pn;
            }
            npurl += "&p=" + p;
            $('#pageurl').val(npurl);

            $.ajax({
                type: 'GET',
                url: npurl,
                success: function (data) {
                    $("#mainContent").html(data);
                }

            });
        }

        // $('#mymodal').on('hide.bs.modal', function (e) { });
        $('#addbtn').click(function () {
            $('#name').val("演出厅名称");
            $('#row').val("座位行数");
            $('#col').val("座位列数");
            $('#studio_inc').val("说明");
            $('#modal_content').data({type: "add"});
            $('#mymodal').modal({backdrop: 'static', keyboard: false});
        });

//        座位

        var seatClsName = ["seat_ept", "seat_nor", "seat_brk"];


        $('#mainContent').on("click", "td > span", function () {
            $('#seat_con').data("studioInfo", $(event.target).data("studio"));
            $('#seat_modal .modal-title').text($(event.target).data("studio").studio_name);
            var tarStuid = $(event.target).data("studio").studio_id;
            $.ajax({
                type: 'GET',
                url: "seat/get?studio_id=" + tarStuid,
                dataType: "json",
                success: function (data) {
                   // console.log(data);
                    if (data.code == 0) {//已初始化，直接显示
                        $("#seat_con").html(data.data);
                        $('#seat_modal').modal({backdrop: 'static', keyboard: false});
                        //工具提示（Tooltip）插件
                        $("[data-toggle='tooltip']").tooltip();
                    } else if (data.code == 5) {
                        swal({
                                    title: "是否初始化?",
                                    text: "初始化" + tarStuid + "演出厅的座位",
                                    type: "warning",
                                    showCancelButton: true,
                                    confirmButtonColor: "#DD6B55",
                                    confirmButtonText: "确认",
                                    cancelButtonText: "取消",
                                    closeOnConfirm: false,
                                    closeOnCancel: true,
                                    showLoaderOnConfirm: true
                                },
                                function (isConfirm) {
                                    if (isConfirm) {
                                        $.ajax({
                                            type: 'POST',
                                            url: "seat/init",
                                            data: {studio_id: tarStuid},
                                            dataType: "json",
                                            success: function (data) {
                                                console.log(data);
                                                if (data.code == 0) {
                                                    swal({title: "", text: "", timer: 20});
                                                    $.ajax({
                                                        type: 'GET',
                                                        url: "seat/get?studio_id=" + tarStuid,
                                                        dataType: "json",
                                                        success: function (data) {
                                                            console.log(data);
                                                            if (data.code == 0) {
                                                                $("#seat_con").html(data.data);
                                                                $('#seat_modal').modal({
                                                                    backdrop: 'static',
                                                                    keyboard: false
                                                                });
                                                                //工具提示（Tooltip）插件
                                                                $("[data-toggle='tooltip']").tooltip();
                                                            }
                                                        }
                                                    });


                                                }
                                                else {
                                                    swal("初始化失败!", data.msg + "\n" + data.data, "warning");
                                                }
                                            },
                                            error: function (xhr) {
                                                swal("初始化失败!", "warning");
                                            }
                                        });
                                    }
                                });
                    }
                },
                error: function (xhr) {
                    swal("修改失败!", "warning");
                }
            });

//            $("#seat_con").load("seat?studio_id="+$(event.target).data("studio").studio_id, function () {
//
//            });

        });
        //
        $('#seat_modal_content').on("click", "td > span", function () {
//            console.log(event.target);
            var st = $(event.target).data('seat').status;
            $(event.target).removeClass(seatClsName[st]).addClass(seatClsName[++st % 3]);
            $(event.target).data('seat').status = st % 3;
//            console.log($(event.target).data('seat'));
        });
        $('#seatSave').click(function () {
            var seatInfo = "";
            $('#seat_con td > span').each(function (index) {//只记录修改过的
                if ($(this).data('seat').initstatus != $(this).data('seat').status) {
                    seatInfo += $(this).data('seat').row + "," + $(this).data('seat').col + ","
                            + $(this).data('seat').status + "|";
                }
            });

            console.log(seatInfo);
            var seatData = $('#seat_con').data("studioInfo");
            seatData.uplist = seatInfo;
            if (seatInfo == "") {
                $('#seat_modal').modal('hide');
//                swal("修改成功!", "success");
                return;
            }
            $.ajax({
                type: 'POST',
                url: "seat/update",
                data: seatData,
                dataType: "json",
                success: function (data) {
                    console.log(data);
                    if (data.code == 0) {
                        $('#seat_modal').modal('hide');
                        swal("修改成功!", "success");
                    } else {
                        swal("修改失败!", data.msg + "\n" + data.data, "warning");
                    }
                },
                error: function (xhr) {
                    swal("修改失败!", "warning");
                }
            });
        });


    });

</script>
{% endblock %}